<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="image.css">
</head>
<body>
    <hr>
    <section class="image-component component">
    
        <div class="component-info">
            <div class="component-heading">Image</div>
        
            <p class="info-text">Responsive images are images which are adaptable to any screen size.</p>
        
        <div class="component-subHeading">Full Fill Image </div>
        
        <p>Full Fill images are the adaptable images which cover the entire area of the parent conatiner
              (e.g. class="image-container").</b>
        
        
        
        </div>
        
        <div class="image-container component-display-container">
        
          <img src="https://cdn.pixabay.com/photo/2013/11/28/10/36/road-220058_1280.jpg" alt="responsive image" class="img-resp">
        
        </div>
        
        <div class="code-snippet">
        
          <iframe
          src="https://carbon.now.sh/embed/ihTw5qY8cguOdSHA14cG"
        
          sandbox="allow-scripts allow-same-origin">
        </iframe>
        </div>
        
        <div class="component-info">
        <div class="component-subHeading">Images in Geometric Shapes</div>
        
        <p >Images can be inserted in many shapes.Some of which are displayed below </p>
        </div>
        
        <div class="image-container component-display-container">
        
    <img src="https://cdn.pixabay.com/photo/2017/05/09/03/46/alberta-2297204_1280.jpg" alt="Square image" class="square img">
    <img src="https://cdn.pixabay.com/photo/2021/08/25/20/42/field-6574455_1280.jpg" alt="Square image" class="circular img">
    <img src="https://cdn.pixabay.com/photo/2013/10/09/02/27/lake-192990_1280.jpg" alt="Square image" class="rectangle img">
     
  
  </div>
        
        <div class="code-snippet">
        
          <iframe
          src="https://carbon.now.sh/embed/ihTw5qY8cguOdSHA14cG"
       
          sandbox="allow-scripts allow-same-origin">
        </iframe>
        
        </div>
        
        
        
        </section>
        <hr>
    
   
</body>
</html>


