<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="sbutton.css">
    <title>Document</title>
</head>
<body>
    <hr>
    <section class="alert-component component">
    
    <div class="component-info">
        <div class="component-heading">Buttons</div>
    
        <p class="info-text">Buttons are the gateway for the user to implement a particular action.They are one of 
            the most important aspects in an web application</p>
    
    <div class="component-subHeading">Primary Button</div>
    
    <p>Alerts are available in 5 different styles.You need to include
         these classes in the div tag.Choose the appropriate style according to your requirement
          <b> alert primary, alert secondary, alert success, alert fail, alert warning (e.g. class="alert warning")</b>
    
    
    
    </div>
    
    <div class="alert-container component-display-container">
    
    
    </div>
    
    <div class="code-snippet">
    
      <iframe
      src="https://carbon.now.sh/embed/ihTw5qY8cguOdSHA14cG"
    
      sandbox="allow-scripts allow-same-origin">
    </iframe>
    </div>
    
    <div class="component-info">
    <div class="component-subHeading">Alert bar with close button</div>
    
    <p >These type of alert bars have a close button to close the alert bar </p>
    </div>
    
    <div class="alert-container component-display-container">
    
   
    
    <div class="code-snippet">
    
      <iframe
      src="https://carbon.now.sh/embed/ihTw5qY8cguOdSHA14cG"
   
      sandbox="allow-scripts allow-same-origin">
    </iframe>
    
    </div>
    
    
    
    </section>
    <hr>
    
</body>
</html>