@import url("styles.css");


:root {
    --grid-item1-clr: #ef4444;
    --grid-item2-clr: #67e8f9;
    --grid-item3-clr: #e879f9;
    --grid-item4-clr: #fef08a;
}

.grid-heading {
    font-size: 2.25rem;
}

.grid {
    height: 15rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 00.5rem;

}

.item1 {
    background-color: var(--grid-item1-clr);
}

.item2 {
    background-color: var(--grid-item2-clr);
}

.item3 {
    background-color: var(--grid-item3-clr);
}

.item4 {
    background-color: var(--grid-item4-clr);
}

.grid-two-items {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.5rem;
}

.grid-three-items {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 0.5rem;
}


.grid-four-items {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 0.5rem;
}

.grid-thirty-seventy {
    width: 100%;
    display: grid;
    grid-template-columns: 30% 70%;
    gap: 0.5rem;
}

.grid-seventyfive-twentyfive {
    width: 100%;
    display: grid;
    grid-template-columns: 75% 25%;
    gap: 0.5rem;
}