 <!DOCTYPE html>
 <html lang="en">
 <head>
     <meta charset="UTF-8">
     <meta http-equiv="X-UA-Compatible" content="IE=edge">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>Avatar</title>

     <link rel="stylesheet" href="avatar.css">
     <!-- <link rel="stylesheet" href="landingPage.css"> -->
 </head>
 <body>

    <hr>
<section class="avatar-component component">

<div class="component-info">
    <h1>Avatar</h1>

    <p class="sub-texts">Avatar component is used to show user's profile 
        picture on profile information page, on navigation bar, in blogs grid items.</p>

<h4>Image Avatar</h4>

<p>Avatar is available in 4 different sizes. You can use image in Avatar. You need to include
     these classes in the image tag.Choose the appropriate classes according to the required size <b> img-avatar xl, img-avatar l, img-avatar m, img-avatar s (e.g. class="img-avatar m")</b>
    Don't forget to add Responsive Image class names for img element.</p>


</div>

<div class="image-avatar component-display-container">

<img class="img-avatar xl" src="" alt="avatar image">
<img class="img-avatar l" src="" alt="avatar image">
<img class="img-avatar m" src="" alt="avatar image">
<img class="img-avatar s" src="" alt="avatar image">

</div>

<div class="code-snippet">



</div>

<div class="component-info">
<h4>Text Avatar</h4>

<p>Below is an text avatar which displays text instead of image.Replace <b>"img"</b> with <b>"text"</b> in the class</p>
</div>

<div class="text-avatar component-display-container">

<div class="text-avatar xl">IN</div>
<div class="text-avatar l">IN</div>
<div class="text-avatar m">IN</div>
<div class="text-avatar s">IN</div>

</div>

<div class="code-snippet">



</div>



</section>
<hr>
 </body>
 </html>               