<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <hr>
    <section class="alert-component component">
    
    <div class="component-info">
        <div class="component-heading">Alert</div>
    
        <p class="info-text">Alerts are used to show alert messages to the user.It acts as an attention grabber</p>
    
    <div class="component-subHeading">Normal Alert Bar </div>
    
    <p>Alerts are available in 5 different styles.You need to include
         these classes in the div tag.Choose the appropriate style according to your requirement
          <b> alert primary, alert secondary, alert success, alert fail, alert warning (e.g. class="alert warning")</b>
    
    
    
    </div>
    
    <div class="alert-container component-display-container">
    
    <div class="alert primary">This is a primary alert</div>
    <div class="alert secondary">This is a secondary alert</div>
    <div class="alert success"><i class="fi-cwsuxl-check"></i>This is a success alert</div>
    <div class="alert fail"><i class="fi-cnsuxl-exclamation-mark-rounded"></i>This is a fail alert</div>
    <div class="alert warning"><i class="fi-ensuxl-warning-solid"></i>This is a warning alert</div>
    
    </div>
    
    <div class="code-snippet">
    
      <iframe
      src="https://carbon.now.sh/embed/ihTw5qY8cguOdSHA14cG"
    
      sandbox="allow-scripts allow-same-origin">
    </iframe>
    </div>
    
    <div class="component-info">
    <div class="component-subHeading">Alert bar with close button</div>
    
    <p >These type of alert bars have a close button to close the alert bar </p>
    </div>
    
    <div class="alert-container component-display-container">
    
      <div class="alert primary close">
        This is a primary alert
        <i class="fi-xwluxl-times-wide close-icon"></i>
      </div>

      <div class="alert secondary close">This is a secondary alert
         <i class="fi-xwluxl-times-wide close-icon"></i></div>
      
      <div class="alert success close"> <div class="alert-text alert">
        <i class="fi-cwsuxl-check"></i>This is a success alert </div>
        <div class="close-icon"><i class="fi-xwluxl-times-wide"></i></div> </div>

      <div class="alert fail close"><div class="alert-text alert">
        <i class="fi-cnsuxl-exclamation-mark-rounded"></i>This is a fail alert</div>
        <div class="close-icon"><i class="fi-xwluxl-times-wide"></i></div></div>

      <div class="alert warning close"><div class="alert-text alert">
        <i class="fi-ensuxl-warning-solid"></i>This is a warning alert</div>
        <div class="close-icon"><i class="fi-xwluxl-times-wide"></i></div></div>
    </div>
    
    <div class="code-snippet">
    
      <iframe
      src="https://carbon.now.sh/embed/ihTw5qY8cguOdSHA14cG"
   
      sandbox="allow-scripts allow-same-origin">
    </iframe>
    
    </div>
    
    
    
    </section>
    <hr>

</body>
</html>