@import url("styles.css");

:root
{
    --list-heading-bg: #60A5FA;
    --LIST-SECONDARY-BG: #EF4444;

}

.square-bullets
{

    list-style-type: square;
}

.circular-bullets
{
    list-style-type: circle;
}

.no-bullets
{
    list-style-type: none;
}

.roman-small-numbering
{
    list-style-type: lower-roman;
}

.roman-big-numbering
{
    list-style-type: upper-roman;
}

.alphabet-small-numbering
{
    list-style-type: lower-alpha;
}

.alphabet-big-numbering
{
    list-style-type: upper-alpha;
}

.reversed-numbering
{
    display: flex;
    flex-flow: column-reverse;
}
.list-container2
{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    gap: 0.5rem;
}
.list-component
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    background-color: var(--primary-color);
    border-radius: 0.4rem;
    padding: 1rem;
}

.job-info
{
    display: flex;
    flex-flow: column;
    gap: 0.5rem;

}
.list-highlight
{
    background-color: var(--list-heading-bg);
    border-radius: 0.4rem;
   padding: 0.3rem;
}
.list-caption
{

    font-weight: 600;
    
}

.job-time
{
    background-color: var(--LIST-SECONDARY-BG);
    border-radius: 0.4rem;
    padding: 0.3rem;
} 

.job-descpr
{
    display: flex;
   gap: 0.5rem;
    align-items: center;
}

.job-apply
{
    display: flex;
    flex-flow: column;
    gap: 0.5rem;
    justify-content: center;
    align-items: flex-end;
}

