<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="list.css">
    <script defer src="https://friconix.com/cdn/friconix.js"> </script>
</head>
<body>
    
    <hr>
    <section class="alert-component component">
    
    <div class="component-info">
        <div class="component-heading">Lists</div>
    
        <p class="info-text">Lists are components used to display any content in an organized manner</p>
    
    <div class="component-sub-heading">Unordered Lists </div>
    
    <p>Unordered lists have bullet styles or no styles at all.Copy the required style class and paste it in your code.
         
    
    
    </div>
    
    <div class="list-container component-display-container">
    
   <ul class="normal-bullets">
<li>List item 1</li>
<li>List item 2</li>
<li>List item 3</li>
   </ul>

   <ul class="square-bullets">
    <li>List item 1</li>
    <li>List item 2</li>
    <li>List item 3</li>
       </ul>

       <ul class="circular-bullets">
        <li>List item 1</li>
        <li>List item 2</li>
        <li>List item 3</li>
           </ul>


           <ul class="no-bullets">
            <li>List item 1</li>
            <li>List item 2</li>
            <li>List item 3</li>
               </ul>
    

    </div>
    
    <div class="code-snippet">
    
      <iframe
      src="https://carbon.now.sh/embed/ihTw5qY8cguOdSHA14cG"
    
      sandbox="allow-scripts allow-same-origin">
    </iframe>
    </div>
    
    <div class="component-info">
    <div class="component-sub-heading">Ordered List</div>
    
    <p >Ordered List follow numeric or alphabetical styles.Copy the required style class and paste it in your code.</p>
    </div>
    
    <div class="list-container component-display-container">
    
        <ol class="normal-numbering">
            <li>List item 1</li>
            <li>List item 2</li>
            <li>List item 3</li>
               </ol>
            
               <ol class="roman-small-numbering">
                <li>Lower Roaman Numbering</li>
                <li>Lower Roaman Numbering</li>
                <li>Lower Roaman Numbering</li>
                   </ol>
            
                   <ol class="roman-big-numbering">
                    <li>Upper Roaman Numbering</li>
                    <li>Upper Roaman Numbering</li>
                    <li>Upper Roaman Numbering</li>
                       </ol>
            
            
                       <ol class="alphabet-small-numbering">
                        <li>alphabet ordered</li>
                        <li>alphabet ordered</li>
                        <li>alphabet ordered</li>
                           </ol>

                           <ol class="alphabet-big-numbering">
                            <li>ALPHABET ORDERED</li>
                            <li>ALPHABET ORDERED</li>
                            <li>ALPHABET ORDERED</li>
                               </ol>

                               <ol class="reversed-numbering">
                                <li>Reverse Ordered</li>
                                <li>Reverse Ordered</li>
                                <li>Reverse Ordered</li>
                                   </ol>
     
    </div>
    
    <div class="code-snippet">
    
      <iframe
      src="https://carbon.now.sh/embed/ihTw5qY8cguOdSHA14cG"
   
      sandbox="allow-scripts allow-same-origin">
    </iframe>
    
    </div>
    
    <div class="component-info">
        <div class="component-sub-heading">Stacked Lists</div>
        
        <p >Stacked List can be used in notification bars and are used to display wide range of data.</p>
        </div>
        
        <div class="list-container2 component-display-container">
        
            <div class="list-component">

                <div class="job-info">
                <div class="list-highlight">Python Developer</div>

                <div class="job-descpr"> 
                   <div class="job-icon"><i class="fi-xnsuxl-computer-desktop-solid"></i></div>
                <div class="list-caption">Engineering</div>
                </div>
            </div>

            <div class="job-apply">
                <div class="job-time">Full Time</div>
                <div class="list-caption job-descpr"> <i class="fi-xnsuxl-calendar-solid"></i> Closing on March 1st</div>

            </div>

            </div>
           
            <div class="list-component">
            <div class="job-info">
                <div class="list-highlight">WEB Developer</div>

                <div class="job-descpr"> 
                   <div class="job-icon"><i class="fi-xnsuxl-computer-desktop-solid"></i></div>
                <div class="list-caption">Engineering</div>
                </div>
            </div>

            <div class="job-apply">
                <div class="job-time">Full Time</div>
                <div class="list-caption job-descpr"> <i class="fi-xnsuxl-calendar-solid"></i> Closing on Feb 25th</div>

            </div>

            </div>
         
            <div class="list-component">
            <div class="job-info">
                <div class="list-highlight">Buisness Analyst</div>

                <div class="job-descpr"> 
                   <div class="job-icon"><i class="fi-xnsuxl-bank-solid"></i></i></div>
                <div class="list-caption">Finance</div>
                </div>
            </div>

            <div class="job-apply">
                <div class="job-time">Full Time</div>
                <div class="list-caption job-descpr"> <i class="fi-xnsuxl-calendar-solid"></i> Closing on Feb 27th</div>

            </div>

            </div>

        </div>
        
        <div class="code-snippet">
        
          <iframe
          src="https://carbon.now.sh/embed/ihTw5qY8cguOdSHA14cG"
       
          sandbox="allow-scripts allow-same-origin">
        </iframe>
        
        </div>
    
    </section>
    <hr>

</body>
</html>