@import url("styles.css");

:root {
    --gray-color: gray;
    --red-text: red;
}


.typo-text-container {
    display: flex;
    flex-flow: column wrap;
    gap: 0.7rem;

}

.h1 {
    font-size: 2rem;
    line-height: 4rem;
    font-weight: bolder;

}

.h2 {
    font-size: 1.5rem;
    line-height: 2.5rem;
    font-weight: bolder;

}

.h3 {
    font-size: 1.17rem;
    line-height: 2rem;
    font-weight: bolder;

}

.h4 {
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: bolder;

}

.h5 {
    font-size: 0.83rem;
    line-height: 1rem;
    font-weight: bolder;

}

.text {
    font-size: 1.25rem;
}

.small {
    font-size: 0.7rem;
}

.gray {
    color: var(--gray-color);
}

.primaryclr {
    color: var(--primary-color);
}

.red {
    color: var(--red-text);
}

.bold {
    font-weight: 700;
}


.strike {
    text-decoration: line-through;
}

.left {
    text-align: left;
    margin: 1rem 0 1rem 0;
}

.center {
    text-align: center;
    margin: 1rem 0 1rem 0;
}

.right {
    text-align: right;
    margin: 1rem 0 1rem 0;
}

.typo-text-container2 {
    display: block;

}