<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="modal-rating.css">
    <script defer src="https://friconix.com/cdn/friconix.js"> </script>
</head>

<body>

    <hr>
    <section class="modal-component component">

        <div class="component-info">
            <div class="component-heading">Modal</div>

            <p class="info-text">Modals are dialog boxes that are used to grab user attention.Usually when a modal is
                displayed the user cannot acess other content</p>
            <div class="component-sub-heading">Modal Box</div>

            <p>An example of modal block is shown below.Copy and paste the HTML code displayed below in your code
                editor.</p>

        </div>

        <div class="modal-container component-display-container">

            <div class="modal-box">

                <div class="modal-title component-sub-heading">Modal Title</div>

                <div class="modal-content info-text">The modal content goes here</div>

                <div class="modal-footer"><button class="btn btn-close">Close</button> <button class="btn btn-save">Save
                        Changes</button></div>

            </div>

        </div>

        <div class="code-snippet">

            <iframe
                src="https://carbon.now.sh/embed?bg=rgba%28239%2C40%2C44%2C1%29&t=one-light&wt=none&l=auto&width=465&ds=true&dsyoff=20px&dsblur=68px&wc=true&wa=true&pv=0px&ph=0px&ln=false&fl=1&fm=Hack&fs=14px&lh=143%25&si=false&es=2x&wm=false&code=%253Cdiv%2520class%253D%2522modal-box%2522%253E%250A%250A%253Cdiv%2520class%253D%2522modal-title%2520component-sub-heading%2522%253EModal%2520Title%253C%252Fdiv%253E%250A%250A%253Cdiv%2520class%253D%2522modal-content%2520info-text%2522%253EThe%2520modal%2520content%2520goes%2520here%253C%252Fdiv%253E%250A%250A%253Cdiv%2520class%253D%2522modal-footer%2522%253E%253Cbutton%2520class%253D%2522btn%2520btn-close%2522%253EClose%253C%252Fbutton%253E%2520%250A%253Cbutton%2520class%253D%2522btn%2520btn-save%2522%253ESave%2520Changes%253C%252Fbutton%253E%253C%252Fdiv%253E%250A%250A%253C%252Fdiv%253E%250A"
                sandbox="allow-scripts allow-same-origin">
            </iframe>
        </div>



    </section>
    <hr>


    <section class="rating-component component">

        <div class="component-info">
            <div class="component-heading">Rating</div>

            <p class="info-text">Rating bars can be used in websites to display the user ratings on a particular product
                or service.</p>

            <div class="component-sub-heading">Static Rating Bar </div>

            <p>The Rating Bar shown below cal be used by placing <b>glowing-star,normal-star</b> classes.
                <b>(e.g. class="glowing-star")</b> for the star to glow and <b>(e.g. class="normal-star")</b> otherwise.



        </div>

        <div class="rating-container component-display-container">

            <div class="rating-box">

                <div class="glowing-star"><i class="fi-xnsuxl-star-solid"></i></div>
                <div class="glowing-star"><i class="fi-xnsuxl-star-solid"></i></div>
                <div class="normal-star"><i class="fi-xnsuxl-star-solid"></i></div>
                <div class="normal-star"><i class="fi-xnsuxl-star-solid"></i></div>
                <div class="normal-star"><i class="fi-xnsuxl-star-solid"></i></div>


            </div>

        </div>

        <div class="code-snippet">

            <iframe
                src="https://carbon.now.sh/embed?bg=rgba%28239%2C40%2C44%2C1%29&t=one-light&wt=none&l=auto&width=465&ds=true&dsyoff=20px&dsblur=68px&wc=true&wa=true&pv=0px&ph=0px&ln=false&fl=1&fm=Hack&fs=14px&lh=143%25&si=false&es=2x&wm=false&code=%253Cdiv%2520class%253D%2522glowing-star%2522%253E%253Ci%2520class%253D%2522fi-xnsuxl-star-solid%2522%253E%253C%252Fi%253E%253C%252Fdiv%253E%250A%253Cdiv%2520class%253D%2522glowing-star%2522%253E%253Ci%2520class%253D%2522fi-xnsuxl-star-solid%2522%253E%253C%252Fi%253E%253C%252Fdiv%253E%250A%253Cdiv%2520class%253D%2522normal-star%2522%253E%253Ci%2520class%253D%2522fi-xnsuxl-star-solid%2522%253E%253C%252Fi%253E%253C%252Fdiv%253E%250A%253Cdiv%2520class%253D%2522normal-star%2522%253E%253Ci%2520class%253D%2522fi-xnsuxl-star-solid%2522%253E%253C%252Fi%253E%253C%252Fdiv%253E%250A%253Cdiv%2520class%253D%2522normal-star%2522%253E%253Ci%2520class%253D%2522fi-xnsuxl-star-solid%2522%253E%253C%252Fi%253E%253C%252Fdiv%253E%250A"
                sandbox="allow-scripts allow-same-origin">
            </iframe>
        </div>



    </section>
    <hr>

</body>

</html>