<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="forms.css">
    <title>Document</title>
</head>
<body>
    
    <hr>
    <section class="alert-component component">
    
    <div class="component-info">
        <div class="component-heading">Inputs</div>
    
        <p class="info-text">Alerts are used to show alert messages to the user.It acts as an attention grabber</p>
    
    <div class="component-sub-heading">Input Fields</div>
    
    <p>Alerts are available in 5 different styles.You need to include
         these classes in the div tag.Choose the appropriate style according to your requirement
          <b> alert primary, alert secondary, alert success, alert fail, alert warning (e.g. class="alert warning")</b>
    
    
    
    </div>
    
    <div class="form-container component-display-container">
    

    <div class="input-batch">
        <label for="" class="label-text"  > Enter Your Name</label>
        <div class="name-field">
        <input type="text" placeholder="First Name" class="input-field">
        <input type="text" placeholder="Last Name" class="input-field">
    </div>
    </div>

<div class="input-batch">
        <label for="" class="label-text">Disabled Field</label>
        <input type="text" placeholder="Disabled" class="input-field" disabled>
    </div>

    <div class="input-batch">
        <label for="" class="label-text">Date Of Brith</label>
        <input type="date"  class="input-field" >
    </div>

    <div class="input-batch">
        <label for="" class="label-text">Gender</label>
     <select name="Gender" class="input-field">
<option value="female">Female</option>
<option value="male">Male</option>
<option value="trans">Transgender</option>
<option value="nothing">Rather Not Say</option>
     </select>
      
    </div>

    <div class="input-batch">
        <label for="" class="label-text">Enter Your Email</label>
        <input type="email" placeholder="E-Mail" class="input-field" >
      
    </div>

    <div class="input-batch">
        <label for="" class="label-text validation">Enter Your password</label>
        <input type="password" placeholder="Password" class="input-field validation-input" >
        <label for="" class="validation">Incorrect Password! Try Again</label>
    </div>

 
        
    </div>
    
    <div class="code-snippet">
    
      <iframe
      src="https://carbon.now.sh/embed/ihTw5qY8cguOdSHA14cG"
    
      sandbox="allow-scripts allow-same-origin">
    </iframe>
    </div>
    
    <div class="component-info">
    <div class="component-sub-heading">Text Area</div>
    
    <p >These type of alert bars have a close button to close the alert bar </p>
    </div>
    
    <div class="form-container component-display-container">
    
   <label for="" class="label-text">Write in the Text Area</label>

   <textarea name="" id="" placeholder="start writting...." class="text-field" rows="5"></textarea>
    
    </div>
    
    <div class="code-snippet">
    
      <iframe
      src="https://carbon.now.sh/embed/ihTw5qY8cguOdSHA14cG"
   
      sandbox="allow-scripts allow-same-origin">
    </iframe>
    
    </div>
    
    <div class="component-info">
        <div class="component-sub-heading">Other Inputs</div>
        
        <p >These type of alert bars have a close button to close the alert bar </p>
        </div>
        
        <div class="form-container2 component-display-container">
            
            <div class="input-batch">
            <label class="label-text">Checkbox</label>
       <input type="checkbox" class="input-other" >
    </div>

    <div class="input-batch">
        <label class="label-text">Color Selector</label>
       <input type="color" class="input-other" >
    </div>

    <div class="input-batch">
        <label class="label-text">Radio</label>
       <input type="radio" class="input-other" >
    </div>

    <div class="input-batch">
        <label class="label-text">Range</label>
       <input type="range" class="input-other">
    </div>

        </div>
     
        <div class="code-snippet">
        
          <iframe
          src="https://carbon.now.sh/embed/ihTw5qY8cguOdSHA14cG"
       
          sandbox="allow-scripts allow-same-origin">
        </iframe>
        
        </div>
        
    
    </section>
    <hr>
</body>
</html>